In [5]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/14/52/accb990baebe0063977f26e02df36aa7eb4015ed4e86f828cd76273cd6f1/pandas_datareader-0.8.1-py2.py3-none-any.whl (107kB)
Requirement already satisfied: requests>=2.3.0 in d:\anaconda3\lib\site-packages (from pandas-datareader) (2.21.0)
Requirement already satisfied: pandas>=0.21 in d:\anaconda3\lib\site-packages (from pandas-datareader) (0.24.2)
Requirement already satisfied: lxml in d:\anaconda3\lib\site-packages (from pandas-datareader) (4.3.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2019.11.28)
Requirement already satisfied: python-dateutil>=2.5.0 in d:\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (2.8.0)
Requirement already satisfied: pytz>=2011k in d:\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in d:\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (1.16.2)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.21->pandas-datareader) (1.12.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1

In [6]:
#Plotly Candlestick Chart in Python
#import pandas.io.data as web
from pandas_datareader import data, wb
from datetime import datetime
import numpy as np
import pandas as pd
import chart_studio.plotly as py

In [25]:
df = data.DataReader("gs", 'yahoo', datetime(2008, 1, 1), datetime(2008, 12, 28))
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2008-01-02,215.050003,206.600006,214.800003,207.600006,9573500.0,176.972275
2008-01-03,209.039993,204.139999,208.919998,204.839996,7751700.0,174.619492
2008-01-04,204.000000,198.289993,201.000000,199.929993,10157900.0,170.433823
2008-01-07,200.250000,189.990005,200.229996,194.729996,16044400.0,166.001038
2008-01-08,199.500000,189.000000,195.809998,189.500000,13553700.0,161.542587

In [26]:
type(df)pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [155]:
df = pd.core.frame.DataFrame(df)
df.head(6)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2008-01-02,215.050003,206.600006,214.800003,207.600006,9573500.0,176.972275
2008-01-03,209.039993,204.139999,208.919998,204.839996,7751700.0,174.619492
2008-01-04,204.000000,198.289993,201.000000,199.929993,10157900.0,170.433823
2008-01-07,200.250000,189.990005,200.229996,194.729996,16044400.0,166.001038
2008-01-08,199.500000,189.000000,195.809998,189.500000,13553700.0,161.542587
2008-01-09,192.199997,183.699997,189.039993,191.750000,15901200.0,163.460678

In [129]:
INCREASING_COLOR = '#17BECF'
DECREASING_COLOR = '#7F7F7F'

In [130]:
data = [ dict(
    type = 'candlestick',
    open = df['Open'],
    high = df['High'],
    low = df['Low'],
    close = df['Close'],
    x = df.index,
    yaxis = 'y2',
    name = 'CS',
    increasing = dict( line = dict( color = INCREASING_COLOR ) ),
    decreasing = dict( line = dict( color = DECREASING_COLOR ) ),
) ]

In [131]:
layout=dict()

In [132]:
fig = dict( data=data, layout=layout )

# Create the layout object

In [133]:
fig['layout'] = dict()
fig['layout']['plot_bgcolor'] = 'rgb(250, 250, 250)' # Background Color
fig['layout']['xaxis'] = dict( rangeselector = dict( visible = True ) ) # Range Selector Buttons
fig['layout']['yaxis'] = dict( domain = [0, 0.2], showticklabels = False ) # Y Axis Part
fig['layout']['yaxis2'] = dict( domain = [0.2, 0.8] )                      # Y Axis Part
#fig['layout']['legend'] = dict( orientation = 'h', y=0.9, x=0.3, yanchor='bottom' )
fig['layout']['legend'] = dict( orientation = 'v', y=0.9, x=0.85, yanchor='top' )
fig['layout']['margin'] = dict( t=40, b=40, r=40, l=40 )

# Add range buttons

In [146]:
rangeselector=dict(
    visibe = True,
    x = 0, y = 0.85,
    bgcolor = 'rgba(150, 200, 250, 0.4)',
    font = dict( size = 13 ),
    buttons=list([
#        dict(count=1,
#             label='reset',
#             step='all'),
        dict(count=1,
             label='1yr',
             step='year',
             stepmode='backward'),
        dict(count=6,
            label='6 mo',
            step='month',
            stepmode='backward'),
        dict(count=3,
            label='3 mo',
            step='month',
            stepmode='backward'),
        dict(count=1,
            label='1 mo',
            step='month',
            stepmode='backward'),
        dict(step='all')
    ]))
fig['layout']['xaxis']['rangeselector'] = rangeselector

# Add moving average

In [135]:
def movingaverage(interval, window_size=10):
    window = np.ones(int(window_size))/float(window_size)
    return np.convolve(interval, window, 'same')
mv_y = movingaverage(df.Close)
mv_x = list(df.index)

In [162]:
mv_y

array([197.89399872, 196.88399811, 195.49799805, 194.22599945,
       193.82200012, 194.81100006, 195.55599976, 195.0019989 ,
       194.75299835, 194.19299927, 194.71900024, 194.92400055,
       196.60400085, 197.96300049, 197.88000031, 196.65800018,
       195.78400116, 195.35400238, 194.31600189, 192.77600098,
       190.93899994, 188.63999939, 185.70299988, 183.00299988,
       181.74199982, 180.54199982, 179.26699982, 178.29599915,
       176.97899933, 176.99400024, 176.64600067, 175.9530014 ,
       174.62000122, 173.60000153, 172.37200165, 170.72000122,
       168.95600128, 166.7780014 , 165.81500244, 164.03600159,
       162.91000214, 161.63300171, 160.22700195, 161.42600098,
       161.5780014 , 163.6760025 , 165.55700226, 167.96200256,
       169.2030014 , 169.71600189, 169.61700134, 170.47000122,
       173.05400085, 173.18200073, 174.18600006, 173.76299896,
       173.74799805, 173.67499695, 173.54099731, 173.78199768,
       174.06699829, 173.88699799, 172.62099762, 171.83899841,
       171.39599915, 171.84899902, 172.01599884, 172.1019989 ,
       172.62299957, 174.4469986 , 176.91699829, 179.58199921,
       182.42999878, 184.66199799, 187.35699768, 189.39099884,
       191.06299896, 192.84799957, 193.88899841, 193.78199921,
       193.39099884, 193.57499847, 193.33999939, 193.21600037,
       192.17299957, 190.85999908, 189.58799896, 188.06999817,
       186.95399933, 185.9019989 , 184.35699921, 182.54099884,
       180.99099884, 179.6019989 , 178.38099976, 176.90099945,
       175.51900024, 174.48600159, 174.28600159, 173.51000214,
       172.82200165, 172.1510025 , 170.90800171, 169.95900116,
       170.14700012, 171.12200012, 172.00800018, 173.075     ,
       174.10799866, 175.54099884, 176.82399902, 178.30099792,
       180.42599792, 181.37699738, 181.0039978 , 180.28499756,
       179.8739975 , 179.4759964 , 178.67199707, 177.27699738,
       176.90799713, 175.61199799, 174.26299896, 172.88499908,
       171.29599915, 169.58600006, 169.33899994, 169.58400116,
       169.97900085, 171.075     , 172.38899994, 174.27399902,
       175.28399811, 176.9019989 , 178.32499847, 180.70799866,
       182.03899841, 182.31899719, 182.23499756, 181.94299774,
       181.21599884, 180.38399963, 179.59100037, 179.31999969,
       179.83000031, 178.39700012, 176.26999969, 174.525     ,
       172.64299927, 170.86099854, 168.58399811, 166.4539978 ,
       164.86299744, 163.2489975 , 161.01999817, 159.88099823,
       158.93899841, 158.46299896, 158.54199982, 159.07000122,
       160.03100128, 160.29600067, 160.9780014 , 161.97000122,
       162.56600037, 162.73399963, 162.88899994, 162.12700043,
       159.28000031, 156.04899902, 150.73799896, 145.44799957,
       142.10399933, 137.20899963, 133.54700012, 131.08800049,
       128.93500061, 127.31300049, 125.83300018, 125.33200073,
       127.33200073, 129.68600006, 129.50599976, 129.82799988,
       128.82299957, 126.82299957, 123.40799942, 118.48899918,
       117.51899948, 117.00899963, 114.87399979, 112.96000061,
       111.59000092, 111.34000092, 111.97500076, 112.18100052,
       112.90400085, 114.0640007 , 112.25200043, 109.31900024,
       107.77000046, 105.64100037, 103.46100006, 100.21999969,
        97.58499985,  94.82200012,  92.03600006,  89.77399979,
        87.60699997,  85.71800003,  82.63099976,  80.51899948,
        77.94199982,  75.28200035,  71.98500023,  68.76000023,
        65.88800011,  63.44100037,  63.06200027,  62.77200012,
        63.74300003,  64.64300003,  64.54599991,  64.79699974,
        65.48899956,  66.7239994 ,  68.59599953,  70.97999954,
        71.51499939,  71.48999939,  70.8109993 ,  69.6859993 ,
        69.75599899,  70.85599899,  71.83899918,  73.0909996 ,
        74.09199982,  74.07699966,  74.31999969,  74.81100006,
        75.43700027])

In [161]:
df.Close

Date
2008-01-02    207.600006
2008-01-03    204.839996
2008-01-04    199.929993
2008-01-07    194.729996
2008-01-08    189.500000
2008-01-09    191.750000
2008-01-10    196.910004
2008-01-11    198.740005
2008-01-14    201.649994
2008-01-15    193.289993
2008-01-16    197.500000
2008-01-17    190.979996
2008-01-18    187.210007
2008-01-22    190.690002
2008-01-23    199.389999
2008-01-24    199.199997
2008-01-25    191.369995
2008-01-28    196.250000
2008-01-29    196.050003
2008-01-30    198.550003
2008-01-31    199.550003
2008-02-01    207.779999
2008-02-04    200.800003
2008-02-05    189.860001
2008-02-06    187.169998
2008-02-07    190.460007
2008-02-08    187.070007
2008-02-11    185.869995
2008-02-12    180.649994
2008-02-13    180.179993
                 ...
2008-11-14     66.730003
2008-11-17     62.490002
2008-11-18     62.029999
2008-11-19     55.180000
2008-11-20     52.000000
2008-11-21     53.310001
2008-11-24     67.419998
2008-11-25     71.779999
2008-11-26     76.500000
2008-11-28     78.989998
2008-12-01     65.760002
2008-12-02     65.000000
2008-12-03     68.949997
2008-12-04     67.529999
2008-12-05     70.720001
2008-12-08     77.150002
2008-12-09     72.769997
2008-12-10     71.529999
2008-12-11     69.709999
2008-12-12     67.739998
2008-12-15     66.459999
2008-12-16     76.000000
2008-12-17     78.779999
2008-12-18     80.050003
2008-12-19     80.730003
2008-12-22     77.000000
2008-12-23     75.199997
2008-12-24     76.440002
2008-12-26     75.970001
2008-12-29     76.559998
Name: Close, Length: 251, dtype: float64

# Clip the ends

In [136]:
mv_x = mv_x[5:-5]
mv_y = mv_y[5:-5]

In [137]:
type(fig['data'])

list

In [138]:
fig['data'].append( dict( x=mv_x, y=mv_y, type='scatter', mode='lines', 
                         line = dict( width = 1 ),
                         marker = dict( color = '#E377C2' ),
                         yaxis = 'y2', name='Moving Average' ) )

# Set volume bar chart colors

In [139]:
colors = []

In [140]:
for i in range(len(df.Close)):
    if i != 0:
        if df.Close[i] > df.Close[i-1]:
            colors.append(INCREASING_COLOR)
        else:
            colors.append(DECREASING_COLOR)
    else:
        colors.append(DECREASING_COLOR)

# Add volume bar chart

In [141]:
fig['data'].append( dict( x=df.index, y=df.Volume,                         
                         marker=dict( color=colors ),
                         type='bar', yaxis='y', name='Volume' ) )

# Add bollinger bands

In [142]:
def bbands(price, window_size=10, num_of_std=5):
    rolling_mean = price.rolling(window=window_size).mean()
    rolling_std  = price.rolling(window=window_size).std()
    upper_band = rolling_mean + (rolling_std*num_of_std)
    lower_band = rolling_mean - (rolling_std*num_of_std)
    return rolling_mean, upper_band, lower_band

In [143]:
bb_avg, bb_upper, bb_lower = bbands(df.Close)

In [144]:
fig['data'].append( dict( x=df.index, y=bb_upper, type='scatter', yaxis='y2', 
                         line = dict( width = 1 ),
                         marker=dict(color='#ccc'), hoverinfo='none', 
                         legendgroup='Bollinger Bands', name='Bollinger Bands') )

fig['data'].append( dict( x=df.index, y=bb_lower, type='scatter', yaxis='y2',
                         line = dict( width = 1 ),
                         marker=dict(color='#ccc'), hoverinfo='none',
                         legendgroup='Bollinger Bands', showlegend=False ) )

# Plot

In [147]:
py.iplot( fig, filename = 'candlestick-test-3', validate = False )

In [64]:
fig

{'data': [{'type': 'candlestick', 'open': Date
   2008-01-02    214.800003
   2008-01-03    208.919998
   2008-01-04    201.000000
   2008-01-07    200.229996
   2008-01-08    195.809998
   2008-01-09    189.039993
   2008-01-10    189.350006
   2008-01-11    196.960007
   2008-01-14    200.169998
   2008-01-15    199.550003
   2008-01-16    193.309998
   2008-01-17    198.289993
   2008-01-18    192.169998
   2008-01-22    178.169998
   2008-01-23    186.039993
   2008-01-24    200.100006
   2008-01-25    201.509995
   2008-01-28    190.619995
   2008-01-29    197.039993
   2008-01-30    195.270004
   2008-01-31    196.449997
   2008-02-01    199.149994
   2008-02-04    207.839996
   2008-02-05    194.660004
   2008-02-06    191.479996
   2008-02-07    185.770004
   2008-02-08    189.000000
   2008-02-11    187.869995
   2008-02-12    186.179993
   2008-02-13    180.289993
                    ...
   2008-11-14     67.849998
   2008-11-17     64.790001
   2008-11-18     62.730000
   2008-11-19     61.330002
   2008-11-20     54.000000
   2008-11-21     54.540001
   2008-11-24     56.130001
   2008-11-25     71.410004
   2008-11-26     69.629997
   2008-11-28     75.940002
   2008-12-01     75.800003
   2008-12-02     63.650002
   2008-12-03     63.070000
   2008-12-04     68.190002
   2008-12-05     66.750000
   2008-12-08     73.870003
   2008-12-09     75.419998
   2008-12-10     73.800003
   2008-12-11     70.349998
   2008-12-12     65.699997
   2008-12-15     67.120003
   2008-12-16     69.570000
   2008-12-17     75.330002
   2008-12-18     79.669998
   2008-12-19     79.370003
   2008-12-22     80.000000
   2008-12-23     77.410004
   2008-12-24     75.540001
   2008-12-26     76.830002
   2008-12-29     76.430000
   Name: Open, Length: 251, dtype: float64, 'high': Date
   2008-01-02    215.050003
   2008-01-03    209.039993
   2008-01-04    204.000000
   2008-01-07    200.250000
   2008-01-08    199.500000
   2008-01-09    192.199997
   2008-01-10    199.399994
   2008-01-11    200.679993
   2008-01-14    202.220001
   2008-01-15    199.550003
   2008-01-16    201.779999
   2008-01-17    199.500000
   2008-01-18    193.389999
   2008-01-22    192.830002
   2008-01-23    199.970001
   2008-01-24    201.000000
   2008-01-25    202.000000
   2008-01-28    196.460007
   2008-01-29    198.360001
   2008-01-30    205.970001
   2008-01-31    203.210007
   2008-02-01    208.779999
   2008-02-04    208.000000
   2008-02-05    197.309998
   2008-02-06    192.850006
   2008-02-07    193.770004
   2008-02-08    190.639999
   2008-02-11    190.000000
   2008-02-12    186.250000
   2008-02-13    181.729996
                    ...
   2008-11-14     70.000000
   2008-11-17     66.330002
   2008-11-18     65.500000
   2008-11-19     63.450001
   2008-11-20     57.540001
   2008-11-21     54.540001
   2008-11-24     70.099998
   2008-11-25     74.500000
   2008-11-26     78.449997
   2008-11-28     81.190002
   2008-12-01     75.800003
   2008-12-02     67.000000
   2008-12-03     69.870003
   2008-12-04     70.650002
   2008-12-05     71.199997
   2008-12-08     78.529999
   2008-12-09     77.870003
   2008-12-10     73.900002
   2008-12-11     74.000000
   2008-12-12     70.550003
   2008-12-15     68.309998
   2008-12-16     78.000000
   2008-12-17     81.290001
   2008-12-18     81.190002
   2008-12-19     80.730003
   2008-12-22     80.129997
   2008-12-23     78.000000
   2008-12-24     76.739998
   2008-12-26     77.440002
   2008-12-29     77.110001
   Name: High, Length: 251, dtype: float64, 'low': Date
   2008-01-02    206.600006
   2008-01-03    204.139999
   2008-01-04    198.289993
   2008-01-07    189.990005
   2008-01-08    189.000000
   2008-01-09    183.699997
   2008-01-10    187.039993
   2008-01-11    194.570007
   2008-01-14    199.029999
   2008-01-15    192.360001
   2008-01-16    192.399994
   2008-01-17    189.660004
   2008-01-18    184.600006
   2008-01-22    175.419998
   2008-01-23    184.589996
   2008-01-24    194.199997
   2008-01-25    189.910004
   2008-01-28    190.619995
   2008-01-29    194.070007
   2008-01-30    193.399994
   2008-01-31    195.000000
   2008-02-01    198.000000
   2008-02-04    199.199997
   2008-02-05    189.610001
   2008-02-06    186.250000
   2008-02-07    185.320007
   2008-02-08    185.699997
   2008-02-11    185.500000
   2008-02-12    178.500000
   2008-02-13    176.500000
                    ...
   2008-11-14     65.120003
   2008-11-17     61.750000
   2008-11-18     60.560001
   2008-11-19     54.540001
   2008-11-20     49.000000
   2008-11-21     47.410000
   2008-11-24     55.270000
   2008-11-25     66.519997
   2008-11-26     69.400002
   2008-11-28     74.239998
   2008-12-01     64.190002
   2008-12-02     60.220001
   2008-12-03     62.119999
   2008-12-04     66.040001
   2008-12-05     65.019997
   2008-12-08     73.519997
   2008-12-09     71.559998
   2008-12-10     69.349998
   2008-12-11     69.089996
   2008-12-12     65.500000
   2008-12-15     65.110001
   2008-12-16     68.540001
   2008-12-17     74.139999
   2008-12-18     78.250000
   2008-12-19     77.650002
   2008-12-22     74.889999
   2008-12-23     75.050003
   2008-12-24     75.260002
   2008-12-26     75.309998
   2008-12-29     75.029999
   Name: Low, Length: 251, dtype: float64, 'close': Date
   2008-01-02    207.600006
   2008-01-03    204.839996
   2008-01-04    199.929993
   2008-01-07    194.729996
   2008-01-08    189.500000
   2008-01-09    191.750000
   2008-01-10    196.910004
   2008-01-11    198.740005
   2008-01-14    201.649994
   2008-01-15    193.289993
   2008-01-16    197.500000
   2008-01-17    190.979996
   2008-01-18    187.210007
   2008-01-22    190.690002
   2008-01-23    199.389999
   2008-01-24    199.199997
   2008-01-25    191.369995
   2008-01-28    196.250000
   2008-01-29    196.050003
   2008-01-30    198.550003
   2008-01-31    199.550003
   2008-02-01    207.779999
   2008-02-04    200.800003
   2008-02-05    189.860001
   2008-02-06    187.169998
   2008-02-07    190.460007
   2008-02-08    187.070007
   2008-02-11    185.869995
   2008-02-12    180.649994
   2008-02-13    180.179993
                    ...
   2008-11-14     66.730003
   2008-11-17     62.490002
   2008-11-18     62.029999
   2008-11-19     55.180000
   2008-11-20     52.000000
   2008-11-21     53.310001
   2008-11-24     67.419998
   2008-11-25     71.779999
   2008-11-26     76.500000
   2008-11-28     78.989998
   2008-12-01     65.760002
   2008-12-02     65.000000
   2008-12-03     68.949997
   2008-12-04     67.529999
   2008-12-05     70.720001
   2008-12-08     77.150002
   2008-12-09     72.769997
   2008-12-10     71.529999
   2008-12-11     69.709999
   2008-12-12     67.739998
   2008-12-15     66.459999
   2008-12-16     76.000000
   2008-12-17     78.779999
   2008-12-18     80.050003
   2008-12-19     80.730003
   2008-12-22     77.000000
   2008-12-23     75.199997
   2008-12-24     76.440002
   2008-12-26     75.970001
   2008-12-29     76.559998
   Name: Close, Length: 251, dtype: float64, 'x': DatetimeIndex(['2008-01-02', '2008-01-03', '2008-01-04', '2008-01-07',
                  '2008-01-08', '2008-01-09', '2008-01-10', '2008-01-11',
                  '2008-01-14', '2008-01-15',
                  ...
                  '2008-12-15', '2008-12-16', '2008-12-17', '2008-12-18',
                  '2008-12-19', '2008-12-22', '2008-12-23', '2008-12-24',
                  '2008-12-26', '2008-12-29'],
                 dtype='datetime64[ns]', name='Date', length=251, freq=None), 'yaxis': 'y2', 'name': 'GS', 'increasing': {'line': {'color': '#17BECF'}}, 'decreasing': {'line': {'color': '#7F7F7F'}}},
  {'x': [Timestamp('2008-01-09 00:00:00'),
    Timestamp('2008-01-10 00:00:00'),
    Timestamp('2008-01-11 00:00:00'),
    Timestamp('2008-01-14 00:00:00'),
    Timestamp('2008-01-15 00:00:00'),
    Timestamp('2008-01-16 00:00:00'),
    Timestamp('2008-01-17 00:00:00'),
    Timestamp('2008-01-18 00:00:00'),
    Timestamp('2008-01-22 00:00:00'),
    Timestamp('2008-01-23 00:00:00'),
    Timestamp('2008-01-24 00:00:00'),
    Timestamp('2008-01-25 00:00:00'),
    Timestamp('2008-01-28 00:00:00'),
    Timestamp('2008-01-29 00:00:00'),
    Timestamp('2008-01-30 00:00:00'),
    Timestamp('2008-01-31 00:00:00'),
    Timestamp('2008-02-01 00:00:00'),
    Timestamp('2008-02-04 00:00:00'),
    Timestamp('2008-02-05 00:00:00'),
    Timestamp('2008-02-06 00:00:00'),
    Timestamp('2008-02-07 00:00:00'),
    Timestamp('2008-02-08 00:00:00'),
    Timestamp('2008-02-11 00:00:00'),
    Timestamp('2008-02-12 00:00:00'),
    Timestamp('2008-02-13 00:00:00'),
    Timestamp('2008-02-14 00:00:00'),
    Timestamp('2008-02-15 00:00:00'),
    Timestamp('2008-02-19 00:00:00'),
    Timestamp('2008-02-20 00:00:00'),
    Timestamp('2008-02-21 00:00:00'),
    Timestamp('2008-02-22 00:00:00'),
    Timestamp('2008-02-25 00:00:00'),
    Timestamp('2008-02-26 00:00:00'),
    Timestamp('2008-02-27 00:00:00'),
    Timestamp('2008-02-28 00:00:00'),
    Timestamp('2008-02-29 00:00:00'),
    Timestamp('2008-03-03 00:00:00'),
    Timestamp('2008-03-04 00:00:00'),
    Timestamp('2008-03-05 00:00:00'),
    Timestamp('2008-03-06 00:00:00'),
    Timestamp('2008-03-07 00:00:00'),
    Timestamp('2008-03-10 00:00:00'),
    Timestamp('2008-03-11 00:00:00'),
    Timestamp('2008-03-12 00:00:00'),
    Timestamp('2008-03-13 00:00:00'),
    Timestamp('2008-03-14 00:00:00'),
    Timestamp('2008-03-17 00:00:00'),
    Timestamp('2008-03-18 00:00:00'),
    Timestamp('2008-03-19 00:00:00'),
    Timestamp('2008-03-20 00:00:00'),
    Timestamp('2008-03-24 00:00:00'),
    Timestamp('2008-03-25 00:00:00'),
    Timestamp('2008-03-26 00:00:00'),
    Timestamp('2008-03-27 00:00:00'),
    Timestamp('2008-03-28 00:00:00'),
    Timestamp('2008-03-31 00:00:00'),
    Timestamp('2008-04-01 00:00:00'),
    Timestamp('2008-04-02 00:00:00'),
    Timestamp('2008-04-03 00:00:00'),
    Timestamp('2008-04-04 00:00:00'),
    Timestamp('2008-04-07 00:00:00'),
    Timestamp('2008-04-08 00:00:00'),
    Timestamp('2008-04-09 00:00:00'),
    Timestamp('2008-04-10 00:00:00'),
    Timestamp('2008-04-11 00:00:00'),
    Timestamp('2008-04-14 00:00:00'),
    Timestamp('2008-04-15 00:00:00'),
    Timestamp('2008-04-16 00:00:00'),
    Timestamp('2008-04-17 00:00:00'),
    Timestamp('2008-04-18 00:00:00'),
    Timestamp('2008-04-21 00:00:00'),
    Timestamp('2008-04-22 00:00:00'),
    Timestamp('2008-04-23 00:00:00'),
    Timestamp('2008-04-24 00:00:00'),
    Timestamp('2008-04-25 00:00:00'),
    Timestamp('2008-04-28 00:00:00'),
    Timestamp('2008-04-29 00:00:00'),
    Timestamp('2008-04-30 00:00:00'),
    Timestamp('2008-05-01 00:00:00'),
    Timestamp('2008-05-02 00:00:00'),
    Timestamp('2008-05-05 00:00:00'),
    Timestamp('2008-05-06 00:00:00'),
    Timestamp('2008-05-07 00:00:00'),
    Timestamp('2008-05-08 00:00:00'),
    Timestamp('2008-05-09 00:00:00'),
    Timestamp('2008-05-12 00:00:00'),
    Timestamp('2008-05-13 00:00:00'),
    Timestamp('2008-05-14 00:00:00'),
    Timestamp('2008-05-15 00:00:00'),
    Timestamp('2008-05-16 00:00:00'),
    Timestamp('2008-05-19 00:00:00'),
    Timestamp('2008-05-20 00:00:00'),
    Timestamp('2008-05-21 00:00:00'),
    Timestamp('2008-05-22 00:00:00'),
    Timestamp('2008-05-23 00:00:00'),
    Timestamp('2008-05-27 00:00:00'),
    Timestamp('2008-05-28 00:00:00'),
    Timestamp('2008-05-29 00:00:00'),
    Timestamp('2008-05-30 00:00:00'),
    Timestamp('2008-06-02 00:00:00'),
    Timestamp('2008-06-03 00:00:00'),
    Timestamp('2008-06-04 00:00:00'),
    Timestamp('2008-06-05 00:00:00'),
    Timestamp('2008-06-06 00:00:00'),
    Timestamp('2008-06-09 00:00:00'),
    Timestamp('2008-06-10 00:00:00'),
    Timestamp('2008-06-11 00:00:00'),
    Timestamp('2008-06-12 00:00:00'),
    Timestamp('2008-06-13 00:00:00'),
    Timestamp('2008-06-16 00:00:00'),
    Timestamp('2008-06-17 00:00:00'),
    Timestamp('2008-06-18 00:00:00'),
    Timestamp('2008-06-19 00:00:00'),
    Timestamp('2008-06-20 00:00:00'),
    Timestamp('2008-06-23 00:00:00'),
    Timestamp('2008-06-24 00:00:00'),
    Timestamp('2008-06-25 00:00:00'),
    Timestamp('2008-06-26 00:00:00'),
    Timestamp('2008-06-27 00:00:00'),
    Timestamp('2008-06-30 00:00:00'),
    Timestamp('2008-07-01 00:00:00'),
    Timestamp('2008-07-02 00:00:00'),
    Timestamp('2008-07-03 00:00:00'),
    Timestamp('2008-07-07 00:00:00'),
    Timestamp('2008-07-08 00:00:00'),
    Timestamp('2008-07-09 00:00:00'),
    Timestamp('2008-07-10 00:00:00'),
    Timestamp('2008-07-11 00:00:00'),
    Timestamp('2008-07-14 00:00:00'),
    Timestamp('2008-07-15 00:00:00'),
    Timestamp('2008-07-16 00:00:00'),
    Timestamp('2008-07-17 00:00:00'),
    Timestamp('2008-07-18 00:00:00'),
    Timestamp('2008-07-21 00:00:00'),
    Timestamp('2008-07-22 00:00:00'),
    Timestamp('2008-07-23 00:00:00'),
    Timestamp('2008-07-24 00:00:00'),
    Timestamp('2008-07-25 00:00:00'),
    Timestamp('2008-07-28 00:00:00'),
    Timestamp('2008-07-29 00:00:00'),
    Timestamp('2008-07-30 00:00:00'),
    Timestamp('2008-07-31 00:00:00'),
    Timestamp('2008-08-01 00:00:00'),
    Timestamp('2008-08-04 00:00:00'),
    Timestamp('2008-08-05 00:00:00'),
    Timestamp('2008-08-06 00:00:00'),
    Timestamp('2008-08-07 00:00:00'),
    Timestamp('2008-08-08 00:00:00'),
    Timestamp('2008-08-11 00:00:00'),
    Timestamp('2008-08-12 00:00:00'),
    Timestamp('2008-08-13 00:00:00'),
    Timestamp('2008-08-14 00:00:00'),
    Timestamp('2008-08-15 00:00:00'),
    Timestamp('2008-08-18 00:00:00'),
    Timestamp('2008-08-19 00:00:00'),
    Timestamp('2008-08-20 00:00:00'),
    Timestamp('2008-08-21 00:00:00'),
    Timestamp('2008-08-22 00:00:00'),
    Timestamp('2008-08-25 00:00:00'),
    Timestamp('2008-08-26 00:00:00'),
    Timestamp('2008-08-27 00:00:00'),
    Timestamp('2008-08-28 00:00:00'),
    Timestamp('2008-08-29 00:00:00'),
    Timestamp('2008-09-02 00:00:00'),
    Timestamp('2008-09-03 00:00:00'),
    Timestamp('2008-09-04 00:00:00'),
    Timestamp('2008-09-05 00:00:00'),
    Timestamp('2008-09-08 00:00:00'),
    Timestamp('2008-09-09 00:00:00'),
    Timestamp('2008-09-10 00:00:00'),
    Timestamp('2008-09-11 00:00:00'),
    Timestamp('2008-09-12 00:00:00'),
    Timestamp('2008-09-15 00:00:00'),
    Timestamp('2008-09-16 00:00:00'),
    Timestamp('2008-09-17 00:00:00'),
    Timestamp('2008-09-18 00:00:00'),
    Timestamp('2008-09-19 00:00:00'),
    Timestamp('2008-09-22 00:00:00'),
    Timestamp('2008-09-23 00:00:00'),
    Timestamp('2008-09-24 00:00:00'),
    Timestamp('2008-09-25 00:00:00'),
    Timestamp('2008-09-26 00:00:00'),
    Timestamp('2008-09-29 00:00:00'),
    Timestamp('2008-09-30 00:00:00'),
    Timestamp('2008-10-01 00:00:00'),
    Timestamp('2008-10-02 00:00:00'),
    Timestamp('2008-10-03 00:00:00'),
    Timestamp('2008-10-06 00:00:00'),
    Timestamp('2008-10-07 00:00:00'),
    Timestamp('2008-10-08 00:00:00'),
    Timestamp('2008-10-09 00:00:00'),
    Timestamp('2008-10-10 00:00:00'),
    Timestamp('2008-10-13 00:00:00'),
    Timestamp('2008-10-14 00:00:00'),
    Timestamp('2008-10-15 00:00:00'),
    Timestamp('2008-10-16 00:00:00'),
    Timestamp('2008-10-17 00:00:00'),
    Timestamp('2008-10-20 00:00:00'),
    Timestamp('2008-10-21 00:00:00'),
    Timestamp('2008-10-22 00:00:00'),
    Timestamp('2008-10-23 00:00:00'),
    Timestamp('2008-10-24 00:00:00'),
    Timestamp('2008-10-27 00:00:00'),
    Timestamp('2008-10-28 00:00:00'),
    Timestamp('2008-10-29 00:00:00'),
    Timestamp('2008-10-30 00:00:00'),
    Timestamp('2008-10-31 00:00:00'),
    Timestamp('2008-11-03 00:00:00'),
    Timestamp('2008-11-04 00:00:00'),
    Timestamp('2008-11-05 00:00:00'),
    Timestamp('2008-11-06 00:00:00'),
    Timestamp('2008-11-07 00:00:00'),
    Timestamp('2008-11-10 00:00:00'),
    Timestamp('2008-11-11 00:00:00'),
    Timestamp('2008-11-12 00:00:00'),
    Timestamp('2008-11-13 00:00:00'),
    Timestamp('2008-11-14 00:00:00'),
    Timestamp('2008-11-17 00:00:00'),
    Timestamp('2008-11-18 00:00:00'),
    Timestamp('2008-11-19 00:00:00'),
    Timestamp('2008-11-20 00:00:00'),
    Timestamp('2008-11-21 00:00:00'),
    Timestamp('2008-11-24 00:00:00'),
    Timestamp('2008-11-25 00:00:00'),
    Timestamp('2008-11-26 00:00:00'),
    Timestamp('2008-11-28 00:00:00'),
    Timestamp('2008-12-01 00:00:00'),
    Timestamp('2008-12-02 00:00:00'),
    Timestamp('2008-12-03 00:00:00'),
    Timestamp('2008-12-04 00:00:00'),
    Timestamp('2008-12-05 00:00:00'),
    Timestamp('2008-12-08 00:00:00'),
    Timestamp('2008-12-09 00:00:00'),
    Timestamp('2008-12-10 00:00:00'),
    Timestamp('2008-12-11 00:00:00'),
    Timestamp('2008-12-12 00:00:00'),
    Timestamp('2008-12-15 00:00:00'),
    Timestamp('2008-12-16 00:00:00'),
    Timestamp('2008-12-17 00:00:00'),
    Timestamp('2008-12-18 00:00:00'),
    Timestamp('2008-12-19 00:00:00')],
   'y': array([197.89399872, 196.88399811, 195.49799805, 194.22599945,
          193.82200012, 194.81100006, 195.55599976, 195.0019989 ,
          194.75299835, 194.19299927, 194.71900024, 194.92400055,
          196.60400085, 197.96300049, 197.88000031, 196.65800018,
          195.78400116, 195.35400238, 194.31600189, 192.77600098,
          190.93899994, 188.63999939, 185.70299988, 183.00299988,
          181.74199982, 180.54199982, 179.26699982, 178.29599915,
          176.97899933, 176.99400024, 176.64600067, 175.9530014 ,
          174.62000122, 173.60000153, 172.37200165, 170.72000122,
          168.95600128, 166.7780014 , 165.81500244, 164.03600159,
          162.91000214, 161.63300171, 160.22700195, 161.42600098,
          161.5780014 , 163.6760025 , 165.55700226, 167.96200256,
          169.2030014 , 169.71600189, 169.61700134, 170.47000122,
          173.05400085, 173.18200073, 174.18600006, 173.76299896,
          173.74799805, 173.67499695, 173.54099731, 173.78199768,
          174.06699829, 173.88699799, 172.62099762, 171.83899841,
          171.39599915, 171.84899902, 172.01599884, 172.1019989 ,
          172.62299957, 174.4469986 , 176.91699829, 179.58199921,
          182.42999878, 184.66199799, 187.35699768, 189.39099884,
          191.06299896, 192.84799957, 193.88899841, 193.78199921,
          193.39099884, 193.57499847, 193.33999939, 193.21600037,
          192.17299957, 190.85999908, 189.58799896, 188.06999817,
          186.95399933, 185.9019989 , 184.35699921, 182.54099884,
          180.99099884, 179.6019989 , 178.38099976, 176.90099945,
          175.51900024, 174.48600159, 174.28600159, 173.51000214,
          172.82200165, 172.1510025 , 170.90800171, 169.95900116,
          170.14700012, 171.12200012, 172.00800018, 173.075     ,
          174.10799866, 175.54099884, 176.82399902, 178.30099792,
          180.42599792, 181.37699738, 181.0039978 , 180.28499756,
          179.8739975 , 179.4759964 , 178.67199707, 177.27699738,
          176.90799713, 175.61199799, 174.26299896, 172.88499908,
          171.29599915, 169.58600006, 169.33899994, 169.58400116,
          169.97900085, 171.075     , 172.38899994, 174.27399902,
          175.28399811, 176.9019989 , 178.32499847, 180.70799866,
          182.03899841, 182.31899719, 182.23499756, 181.94299774,
          181.21599884, 180.38399963, 179.59100037, 179.31999969,
          179.83000031, 178.39700012, 176.26999969, 174.525     ,
          172.64299927, 170.86099854, 168.58399811, 166.4539978 ,
          164.86299744, 163.2489975 , 161.01999817, 159.88099823,
          158.93899841, 158.46299896, 158.54199982, 159.07000122,
          160.03100128, 160.29600067, 160.9780014 , 161.97000122,
          162.56600037, 162.73399963, 162.88899994, 162.12700043,
          159.28000031, 156.04899902, 150.73799896, 145.44799957,
          142.10399933, 137.20899963, 133.54700012, 131.08800049,
          128.93500061, 127.31300049, 125.83300018, 125.33200073,
          127.33200073, 129.68600006, 129.50599976, 129.82799988,
          128.82299957, 126.82299957, 123.40799942, 118.48899918,